<!DOCTYPE html>
<html>
<head>
	<title>Jack's Blog</title>
</head>
<body>
	<h1>Welcome to Jack's Blog</h1>

	<% if !session[:user_id] %>
	<form action="/users/login" method="post">
		<h4>Log In to Start Posting</h4>
		<label for="email">Enter email:</label>
		<input type="text" name="email" id="email">
		<label for="password">Password:</label>
		<input type="text" name="password" id="password">

		<button type="submit">Log In</button>
	</form>
	<%else @user = User.find(session[:user_id])%>
		<h2>You are now logged in as <%= @user.fname %>!</h2>
		<form action="/log/out" method="post"><button type="submit">Log Out</button></form>
		<br>
		<br>
	<% end %>
	<%= flash[:notice] if flash[:notice] %>
	<br>

	<form action="/posts" method="post">
		<label for="title">Title</label>
		<input type="text" name="title" id="title" />

		<br>
		<br>

		<label for="body">Body</label>
		<textarea type="text" name="body" id="body"></textarea>

		<br>
		<br>

		<button type="submit">Create Post</button>

		<h1>Most Recent Posts</h1>
		<ul>
			<% @posts.each do |post| %>
				<li><a href="posts/<%= post.id %>"><%=post.title%></a> | <a href="posts/delete/<%= post.id %>" >delete</a></li>
			<%end%>
		</ul>
	</form>
</body>
</html>